/* CSS Stylesheet. Cloning TNW site for practicing responsive design */
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

/* variables and global clases */

:root {
  --primary: #f42;
}

.flex-container {
  display: flex;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.link-decoration {
  text-decoration: none;
}

/* variables and global clases */

/* Navbar */

/* main CSS Style */

main {
  margin-top: 80px;
}

/* navbar */

.navbar {
  justify-content: space-between;
}

.navbar .logo {
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  padding: 15px;
}

.logo .nav-logo {
  width: 70px;
  height: 15px;
}

.nav-icons i {
  font-size: 20px;
  padding: 15px;
  border-left: 1px solid #ebebeb;
}

#search-icon {
  color: #7e7e7e;
}

#bars-icon {
  color: var(--primary);
}

.ads {
  background-color: #ffdd33;
  text-align: center;
}

.ads .link-decoration {
  color: black;
  display: inline-block;
  font-size: 13px;
  padding: 25px 0;
}

/* Section's classes */

.main-section {
  flex-direction: column;
  color: #7F7F80;
}

.main-section h2 {
  font-size: 2rem;
  margin: 0;
  color: #fff;
}

.section-two {
}

.section-three {
}

.section-four {
}

.section-five {
}

.section-six {
}

/* Articles' classes */

.main-article {
  height: 150px;
  flex-direction: column;
  justify-content: flex-end;
}

.article-2 {
}

.article-3 {
}

.article-4 {
}

.article-5 {
}

.article-6 {
}
/* Article Ids */

/* #first-article {
  background-image: url("../img/image-1.jpg");
  background-position: bottom;
  background-size: cover;
} */

#second-article {
  background-image: url("../img/image-2.jpg");
  background-position: bottom;
  background-size: cover;
}

#third-article {
  background-image: url("../img/image-3.jpg");
  background-position: bottom;
  background-size: cover;
}

.background {
  z-index: -2;
  position: absolute;
  left: 0px;
  top: 0px;
}

.opacity {
  background: rgba(0, 0, 0, 0.3);
}

/* Footer Style */

/* Media allow us to create a responsive design */
@media screen and (max-width: 400px) {
}
