/* CSS Stylesheet. Cloning TNW site for practicing responsive design */
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

/* variables and global clases */

:root {
  --primary: #f42;
}

.flex-container {
  display: flex;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.link-decoration {
  text-decoration: none;
}

/* variables and global clases */

/* Navbar */

/* main CSS Style */

main {
  margin-top: 100px;
}

/* navbar */

.navbar {
  justify-content: space-between;
}

.navbar .logo {
  background-color: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  padding: 15px;
}

.logo .nav-logo {
  width: 70px;
  height: 15px;
}

.nav-icons i {
  font-size: 20px;
  padding: 15px;
  border-left: 1px solid #ebebeb;
}

#search-icon {
  color: #7e7e7e;
}

#bars-icon {
  color: var(--primary);
}

.ads {
  background-color: #ffdd33;
  text-align: center;
}

.ads .link-decoration {
  color: black;
  display: inline-block;
  font-size: 13px;
  padding: 25px 0;
}

/* Section's classes */

.main-section {
  flex-direction: column;
  color: #7f7f80;
}

.main-section h2 {
  font-size: 20px;
  margin: 0;
  color: #fff;
  padding-bottom: 10px;
}

.section-two {
}

.section-three {
}

.section-four {
}

.section-five {
}

.section-six {
}

/* Articles' classes */

.main-article {
  height: 150px;
  flex-direction: column;
  justify-content: flex-end;
}

.article-2 {
}

.article-3 {
}

.article-4 {
}

.article-5 {
}

.article-6 {
}
/* Article Ids */

#first-article {
  background-image: url("../img/image-1.jpg");
  background-position: bottom;
  background-size: cover;
}

#second-article {
  background-image: url("../img/image-2.jpg");
  background-position: bottom;
  background-size: cover;
}

#third-article {
  background-image: url("../img/image-3.jpg");
  background-position: bottom;
  background-size: cover;
}

.background {
  z-index: -2;
  position: absolute;
  left: 0px;
  top: 0px;
}

.opacity {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
}

.main-article {
  margin: 5px;
}

.main-article .opacity {
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
}

.main-article .category {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.main-article .metadata {
  font-size: 12px;
  color: #999a9a;
}

.metadata span,.metadata time,.metadata i{
  margin-right: 5px;
}

.main-article .link-decoration {
  color: #999a9a;
}
/* Footer Style */

/* Media allow us to create a responsive design */
@media screen and (min-width: 768px) {
  .main-section{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr ;
  }
  #first-article{
    background-color: red;
  }
}
